.logo{
    width: 150px;
}
.nav{
    background-color: aliceblue;
    padding: 5px 30px 5px 30px;
    border-bottom: 2px solid rgb(93, 145, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    width: 100%;
    /* box-shadow: 0 2px 2px -2px rgba(0,0,0,.2); */
    /* box-shadow:  1px 1px 10px rgb(63, 124, 177); */
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.682);
    /* margin-bottom:20px ; */
}
.menu{
    font-weight: 500;
    display: flex;
}
.home{
    color: black;
}
.home-link{
    text-decoration: none;
    margin-right: 50px;
}
.quizes-link{
    text-decoration: none;
    margin-right: 50px;
}
.play-link{
    text-decoration: none;
    cursor: pointer;
}
.quizes{
    color: black;
}
.active{
    color: cornflowerblue;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .nav{
        font-size:20px;
    }
    .logo{
        width:90px;
    }
    .home-link{
        margin-left: 25px;
        margin-right: 30px;
    }
}
@media only screen and (max-width: 400px) {
    .nav{
        font-size: 15px;
    }
    .logo{
        width:70px;
    }
    .home-link{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 300px) {
    .nav{
        font-size: 10px;
    }
    .logo{
        width:60px;
    }
}